/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav a {
	padding: 0 10px;
	font-size: 1.2em;
}

a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #logIn {
	width: 50%;
	margin: auto;
}
#contact > * , #logIn > *{
	text-align: center;

}
#contact h2, #logIn h2{
	margin-bottom: 20px;
}
#contact form, #logIn form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #logIn input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #logIn label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer{
	max-width: none; /* Annule la limite de largeur héritée du body */	

}

footer nav ul {
	width: 100%; /* Étend le footer sur toute la largeur */
	display: flex;
	justify-content: flex-end;
	padding: 2em;
	background-color: #FFF;
}

html{
	background-color: #FFFEF8;
}

html footer{
	background-color: white;
}

/*************************************************************/
/*********************** Ajout du code ***********************/
/*************************************************************/


/********************** Page principale **********************/

nav a {
    text-decoration: none; 
    color: black; 
    font-weight: normal; 
}


nav a.active {
    font-weight: bold; 
}

.filtres {
	display: flex;
	justify-content: center;
	gap:10px;
	padding: 25px 0px 50px 0px;
}
.filtres button {
	font-family: 'Syne';
	font-weight: 700;
	color:#1D6154;
	background-color: white;
	border-radius: 60px;
	border:#1D6154 1px solid;
	min-width: 100Px;
	height: 37px;
	opacity: 1 ;
	cursor: pointer;
}

.boutonsFiltre.active{
	background-color: #1D6154;
	color: white;
}

/************************* LogIn *****************************/

#login-page {
    min-height: 100vh; 
    position: relative; /* Permet à l'absolu du footer de se référer ici */
    display: flex;
    flex-direction: column; 
}

#login-page main {
    flex: 1; /* Prend l'espace disponible, repousse le footer en bas */
}

#logIn h2 {
	padding-top: 25px;
}

footer {
	margin:0;
	padding:0;
	width: 100vw; 
    margin-left: calc(44% - 50vw); /* Centrer l'élément */
}

.message-erreur{
	text-align:center;
	margin-bottom: 40px;
	color: red;
}

/********************** Mode edition *************************/

body.banner-active .header {
    margin-top: 109px; /* Ajoute un espace uniquement quand la bannière est présente */
}

.banner-edition{
	background-color: black;
	height: 59px;
	font-size: 14px;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
    width: 100vw; 
    margin-left: calc(49% - 50vw); 
}

/************************ Modale 1 ***************************/

.modale {
    display: block;
}

.lien-modale {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	padding:30px;    
	text-decoration: none;
	color: black;
	font-weight: 400;
}

#modale {
	margin:0;
	position: fixed;
	display:flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left:0;
	width:100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	flex-direction: column;
}

.modale-conteneur{
	overflow:auto;
	width:630px;
	height: 688px;
	max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
	padding:20px;
	background-color: #FFF;
	border-radius: 10px;
}

#modale1 #fermer-modale-1 {
	width: 100%;
	display: flex;
	justify-content:end;	
	font-size:20px;
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #333;
}

.fermer-modale{
	cursor: pointer;
}

.modale-titre{
	font-size: 26px;
	text-align: center;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
}

#ajout-photo-modale{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin : 2em auto ;
	width:237px;
	height: 35px;
	font-size: 14px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color:#1D6154 ;
	border-radius: 60px;
}

.modale-gallerie {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	margin: 30px 100px 30px 100px;
	padding-top: 25px;
	padding-bottom: 70px;
	border-bottom: 1px solid #B3B3B3;
}

.modale-gallerie figure {
	position: relative; /* Nécessaire pour positionner les éléments enfants */
	width: 76px;
	height: 102px;
	margin: 0;
}

.modale-gallerie img {
	width: 100%; 
	height: 100%; 
	object-fit: cover; 
}

.fa-trash-can {
	position: absolute; 
	top: 5px; 
	right: 5px; 
	font-size: 11px; 
	color: white;
	background-color: black; 
	padding: 3px; 
	cursor: pointer; 
}

/************************ Modale 2 ***************************/

#icones-modale-2{
	display: flex;
	justify-content: space-between; 
}

#icone-modale-précédente{
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #333;
	cursor: pointer;
}

#fermer-modale-2{
	background: none;
	border: none;
	font-size: 1.5rem;
	color: #333;
}

#modale2-contenu{
	margin-top: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#formulaire-ajout-travaux{
	display: flex;
	flex-direction: column;
	margin-top: 25px;;
	gap: 10px;
	width:420px;
	height:169px;
}

#contenaire-ajout-photo{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
	background-color: #e8f1f6;
	padding: 19px;
	border-radius: 3px;
	margin-bottom: 9px
}

#contenaire-ajout-photo .fa-regular{
	color: #B9C5CC;
}

.ajouter-une-photo{
	display: inline-block;
	color: #306685;
	background-color: #cbd6dc;
	padding: 10px 33px;
	border-radius: 50px;
	cursor: pointer;
}

input[type="file"] {
    opacity: 0; 
    position: absolute;
    z-index: -1; 
}

.type-taille-fichier {
	font-size: 10px !important;
}

#voir-image {
	max-height: 160px;
}

#modale-titre-ajout, #modale-2-categorie {
	min-height: 51px;
	height:300px;
	border: none;
	background: #fff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.bordure{
	margin-top: 30px;
	border-bottom: 1px solid #B3B3B3;
}

.fa-image {
  font-size: 76px;
  color: #cbd6dc;
  margin: 0;
}

#modale-validation-ajout-photo{
  	background: #A7A7A7;
	border:none;
	width:237px;
	min-height:36px;
	cursor: pointer;
}